@charset "ISO-8859-1";

.styled-header {
	font-family: "Roboto", sans-serif;
	color: #000000;
}

.styled-table{
	background-color: #ffffff;
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 1em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr{
	color: #ffffff;
	text-align: left;
}

.styled-table th, 
.styled-table td{
	padding: 12px 15px;
}

.styled-table tbody tr{
	border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type{
	border-bottom: 2px solid #009879;
}

.delete {
	font-family: "Roboto", sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	outline: 0;
	background: #7a6c7a;
	width: 90%;
	padding: 10px;
	color: #ffffff;
	font-size: 7.5px;
	transition: all 0.3 ease;
	cursor: pointer;
	border: 2px solid black;
	box-shadow: 3px 3px #514851;
	letter-spacing: 2px;
}

.delete:hover {
	background: #4eb6f7;
}

h3 {
	font-size: 25px;
	text-align: center;
	font-family: "Roboto", sans-serif;
	color: #000000;
	font-weight: lighter;
	letter-spacing: 2px;
}
